@charset "EUC-KR";

@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    
}

li{list-style: none;}

/* a{color: #000;} */

.hidden2{
    text-indent: -9999px;
    position: absolute;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    height: 200vh;
}

/* ---------header--------- */
#header{
    width: 100%;
    height: 190px;
    /* border-bottom: 1px solid #cdcdcd; */
    position: fixed;
    z-index: 99999999999;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

#logo{
	margin-top: 20px;

}
#logo > a > img {
    position: absolute;
    top: 0;
    right: -130px;
    width: 250px;
    height: 100px;
}


/*--------Menu---------*/
#menuWrap {
    width: 100%;
    height: 60px;
    margin-top: 120px;
}

#sideMenu{
    position: absolute;
    top: 146px;
    right: 0px;
}

#sideMenuList{
    display: flex;
    width: 230px;
}

#sideMenuList li {
    margin: 0 10px;
    font-size: 15px;
}

#mainMenu{
    position: absolute;
    top: 147px;
    left: 80px;
    /* display: none; */
    font-size: 18px;
    height: 30px;
    background-color: #fff;
    overflow: hidden;
}

#mainMenu:hover{
    overflow: visible;
}

#mainMenu #categoryList li {
    height:30px;
}

#mainMenu #communityList li {
    height:30px;
}


/*------햄버거 메뉴------*/
.hamWrap {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 160px;
    left: 30px;
}
.ham {
    width: 35px;
    height: 5px;
    background-color: #000;
}
.ham::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 5px;
    background-color: #000;
    top: -10px;
}
.ham::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 5px;
    background-color: #000;
    top: 10px;
}


/* 검색창 */
.lookfor{
    width: 420px;
    border-bottom: 1px solid #cdcdcd;
    margin: 25px auto 0;
}
    
.lookfor > span{
    font-size: 1rem;
    font-weight: 700;
    transform: skew(-0.03deg); 
    display: inline-block; 
    padding: 0px 35px 0 5px; 
}
    
.lookfor_input{
    width: 290px;
    border: none; 
    padding-bottom: 7px;
}
    
.lookfor_input2{
    border: none;
    width: 20px;
}










/*---------메인 슬라이드-------------*/

#mainSliderList {
    width: 100%; height: 100vh;
    position: relative;
}
#mainSliderList li {
    width: 100%; height: 80vh;
    position: absolute;
    top: 180px; left: 0;
}
#mainSliderList li::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
#mainSliderList li.mainSlider1 {
    background: url(./images/slider1.jpg) no-repeat center/ cover;
    z-index: 2;
}